<!--begin::Page title-->
<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
    <!--begin::Title-->
    <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1"><%=site.title%></h1>
    <!--end::Title-->
    <!--begin::Separator-->
    <span class="h-20px border-gray-200 border-start mx-4"></span>
    <!--end::Separator-->
    <!--begin::Breadcrumb-->
    <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
        <!--begin::Item-->
        <li class="breadcrumb-item text-muted">
            <a href="/<%=DASHBOARD%>/" class="text-muted text-hover-primary">Home</a>
        </li>
        <!--end::Item-->
        <!--begin::Item-->
        <li class="breadcrumb-item">
            <span class="bullet bg-gray-200 w-5px h-2px"></span>
        </li>
        <% if(site.type != "dashboard") { %>
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted"><%=site.type%></li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-200 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
        <% } %>
        <!--end::Item-->
        <% if(site.server) { %>
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted"><%=site.server%></li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-200 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
        <% } %>
        <% if(site.action) { %>
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted"><%=site.action%></li>
            <!--end::Item-->
        <% } %>
    </ul>
    <!--end::Breadcrumb-->
</div>
<!--end::Page title-->