<!--begin::Footer-->
<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">2022 &copy; <a href="https://www.facebook.com/tuaaaa1999/" target="_blank">Zorovhs</a></span>
        </div>
        <!--end::Copyright-->
    </div>
    <!--end::Container-->
</div>
<!--end::Footer-->
</div>
<!--end::Wrapper-->
</div>
<!--end::Page-->
</div>
<!--end::Root-->
<!--begin::Modals-->

<!--end::Modals-->
<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
    <span class="svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
            <path
                d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
                fill="black"
            />
        </svg>
    </span>
    <!--end::Svg Icon-->
</div>
<!--end::Scrolltop-->
<!--end::Main-->
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="/assets/plugins/global/plugins.bundle.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!-- <link type="text/css" href="/assets/plugins/custom/datatables/dataTables.checkboxes.css" rel="stylesheet" />
<script type="text/javascript" src="/assets/plugins/custom/datatables/dataTables.checkboxes.min.js"></script> -->
<!--end::Global Javascript Bundle-->
<!--begin::Page Custom Javascript(used by this page)-->
<%
let version = "2.0";
%>
<script src="/assets/js/lib.js?v=<%=version%>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<% if(site.isDatatable) { %>
    <% if(site.type === "statistics") { %>
        <script src="/assets/js/datatable.js?v=<%=version%>"></script>
        <script src="/assets/js/data/statistics.js?v=<%=version%>"></script>
    <% } else { %>
        <script src="/assets/js/datatable.js?v=<%=version%>"></script>
        <script src="/assets/js/data/datatable.js?v=<%=version%>"></script>
    <% } %>
<% } %>
<% if(site.type === "statistics" && site.action === "open_orders") { %>
    <script src="/assets/js/custom/open.order.js?v=<%=version%>"></script>
<% } %>
<% if(site.type === "dashboard") { %>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="/assets/js/custom/dashboard.js?v=<%=version%>"></script>
<% } %>
<!-- <script src="/assets/js/custom/widgets.js"></script> -->
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
</body>
<!--end::Body-->
</html>